
body { font: normal normal normal 12px/normal arial; color: #666; }

h1{ font-size:34px; }
h3{ font-size:26px; }
h4{ font-size:20px; }
h5{ font-size:18px; }
h6{ font-size:14px; }
#footer .block h2{
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, #nav ul li a, blockquote cite {
  font-family:  "CartoGothicStdRegular";
}

blockquote p {
  font-family: "CartoGothicStdItalic";
}

a, #portfolio #filters a.current, ul.minitabs a:hover,#footer-top .block .item-list ul li h5 a:hover,.portfolio #filters a.selected { color:#ff3131; }

#sidebar .hb_flickr_widget .flickr_badge_image img:hover, #footer .hb_flickr_widget .flickr_badge_image img:hover{ border-color:#ff3131; }

a:hover, .entry h3.title a:hover, #post_content .meta .comment a:hover, .entry .meta .comment a:hover, #breadcrumb a:hover, #sidebar a:hover, #sidebar .hb_flickr_widget .flickr_badge_image img:hover, #footer .hb_flickr_widget .flickr_badge_image img:hover, #footer .hb_recentpost_widget .recentpost h5 a:hover, #sidebar .hb_tweet_widget #twitter_update_list li span a:hover, #footer .hb_tweet_widget #twitter_update_list li span a:hover, #comments .details .name span.date a:hover, #respond a:hover, ol.pinglist li a:hover, #portfolio .one_col h3 a:hover, #portfolio .one_col .comment a:hover, #portfolio h3.mini_title a:hover, .node h2 a:hover { color: #ff3131; }


#slide #sleft h1 { font-size: 34px; }
#slide #sleft h2 { font-size: 20px; }

#slide #sright #texture { background: transparent url(../images/textures/noisestrip.png) repeat 0 0; }

#nav { float: right !important;}
/*body { background: #f3f3f3 url(../images/body_bg.jpg) no-repeat center center fixed; }*/
body { background: #6D6E71 !important; }